@using Microsoft.JSInterop
@using p11.UI
@using BlazorCore.Services.Authentication
@using Microsoft.AspNetCore.Components.Web
@using BlazorCore.Services.SqlClient


@if (!IsOpenButtonHidden)
{
    <P11Button IsDisabled="Visible" Text="@_appState!.T("Change Password")" OnClick="async () => { Visible = true; StateHasChanged(); }" />
}

@if (Visible)
{
    <h5 class="modal-title">@_appState!.T("Change Password")</h5>

    <p>@_appState!.T("To enable 2FA verification, you must always log out of the application and the storage mode must be set to either Cloud or Cloud/Local.")</p>

    @if (!string.IsNullOrEmpty(_errorMessage))
    {
        <div class="alert alert-danger small" role="alert" style="border: 2px solid red; padding: 10px; margin-top: 5px;">
            <p>@_errorMessage</p>
        </div>
    }

    <div class="mt-2">
        <P11Input Label="@_appState!.T("Account")"
                    @bind-Value="Model.Account"
                    InputType="text" />

        <P11Input Label="@_appState!.T("Current Password")"
                    @bind-Value="Model.Password"
                    InputType="password" />

        <P11Input Label="@_appState!.T("New Password")"
                    @bind-Value="Model.NewPassword"
                    InputType="password" />

        <P11Input Label="@_appState!.T("Repeat New Password")"
                    @bind-Value="Model.NewPasswordRepeat"
                    InputType="password" />
    </div>

    <P11Button Text="@_appState!.T("Save")"
                OnClick="HandleChangePassword"
                ButtonVariant="ButtonVariant.Primary" />

    <P11Button Text="@_appState!.T("Cancel")"
                OnClick="HandleCancel"
                ButtonVariant="ButtonVariant.Secondary" />

    <pFemmeExample.Shared.Pages.Common.Authentication.AuthenticationLogout @ref="logoutComponent"
                                                                    IsButtonHidden="true"
                                                                    UseNativeFeatures="@(_appState!.IsNativeApp ?? false)" />
}

@code {
    [Inject]
    private BlazorCore.Services.GlobalState.IGlobalStateBase? _globalState { get; set; }

    [Inject]
    private p11.UI.Services.IToastService? _toastService { get; set; }

    [Inject]
    private BlazorCore.Services.AppState.IAppStateBase? _appState { get; set; }

    [Inject]
    private BlazorCore.Services.Dam.IDamBase? _dam { get; set; }

    [Inject]
    private NavigationManager? _navigationManager { get; set; }

    [Inject]
    private IAuthenticationBase? _authentication { get; set; }

    [Inject]
    protected IJSRuntime? _jsRuntime { get; set; }

    [Inject]
    private p11.UI.Services.IMessageBoxService _messageBoxService { get; set; } = default!;



    [Parameter]
    public bool Visible { get; set; }

    [Parameter] 
    public EventCallback<bool> VisibleChanged { get; set; }

    [Parameter] 
    public bool IsOpenButtonHidden { get; set; } = false;

    [Parameter]
    public ChangePasswordRequestModel Model { get; set; } = new();

    [Parameter] 
    public EventCallback OnChangedPassword { get; set; }

    [Parameter] 
    public bool UseNativeFeatures { get; set; }

    [Parameter] 
    public string ApiEndpoint { get; set; } = "/api/logout";

    [Parameter] 
    public string NavigateTo { get; set; } = "/";

    private string? _errorMessage;

    private Authentication.AuthenticationLogout? logoutComponent;

    private void ResetInternalState()
    {
        Model.Account = string.Empty;
        Model.Password = string.Empty;
        Model.NewPassword = string.Empty;
        Model.NewPasswordRepeat = string.Empty;
        _errorMessage = string.Empty;
        StateHasChanged();
    }

    private async Task HandleChangePassword()
    {
        if (!await MsgBoxLogout()) return;

        _errorMessage = null;

        if (string.IsNullOrEmpty(Model.Password) || string.IsNullOrEmpty(Model.NewPassword) || string.IsNullOrEmpty(Model.NewPasswordRepeat))
        {
            _errorMessage = _appState!.T("Please fill in all fields.");
            Model.NewPassword = string.Empty;
            Model.NewPasswordRepeat = string.Empty;
            StateHasChanged();
            return;
        }

        if (Model.NewPassword != Model.NewPasswordRepeat)
        {
            _errorMessage = _appState!.T("New passwords do not match.");
            Model.NewPassword = string.Empty;
            Model.NewPasswordRepeat = string.Empty;
            StateHasChanged();
            return;
        }


        Dictionary<string, string> db_para = new()
        {
            { "@Case_", "ChangePassword>>AuthUsers" },
            { "@PasswordHash", Model.Password },
            { "@PasswordHashNew", Model.NewPassword }, // Neues Passwort
            { "@EmailHash", Model.Account! },
            { "@UnixTS", _appState!.UnixTS }
        };
        if (!(_appState.IsNativeApp ?? false))
            db_para.Add(BlazorCore.Services.Dam.DB_CMD.NO_LOCAL, BlazorCore.Services.Dam.DB_CMD.NO_LOCAL.ToString());

        ScalarModel result = await _authentication!.ChangePassword(db_para, Model.Password, Model.NewPassword, Model.Account!);

        if (result != null && result.out_value_str != null && string.IsNullOrEmpty(result.out_err))
        {
            if (result.out_value_str.StartsWith("updated:") || (result.out_local != null && result.out_local.StartsWith("updated:")))
            {
                // Logout durchführen
                if (logoutComponent != null)
                    await logoutComponent.TriggerLogoutAsync();
            }
            else
            {
                if (result.out_value_str == "not_updated:-1:-1" || result.out_local == "not_updated:-1:-1")
                {
                    //await _toastService!.ShowWarningAsync(_appState.T("You are logged in via an external ID provider (Microsoft, Google, or Apple), so it is not possible to change your password!"), _appState.T("Warning"), position: ToastPosition.BottomEnd);
                    await _messageBoxService.ShowOkAsync(
                       title: _appState!.T("Warning"),
                       message: _appState.T("You are logged in via an external ID provider (Microsoft, Google, or Apple), so it is not possible to change your password!")
                    );
                }
                else
                {
                    //await _toastService!.ShowErrorAsync(_appState.T("Password change failed."), _appState.T("Warning"), position: ToastPosition.TopCenter);
                    await _messageBoxService.ShowOkAsync(
                       title: _appState!.T("Warning"),
                       message: _appState.T("Password change failed.")
                    );
                }
            }
        }
        else
        {
            string err = result != null && result.out_err != null ? result.out_err : "ChangePassword>>AuthUsers";
            await _messageBoxService.ShowOkAsync(
               title: _appState!.T("Error"),
               message: $"{_appState.T(_globalState != null ? _globalState.ConfigGeneral.ErrorText : "We’re sorry, but an error occurred!")} {err}"
            );
        }
    }

    private async Task<bool> MsgBoxLogout()
    {
        if (_appState == null) return false;

        bool result = false;

        MessageBoxResult result_msg = await _messageBoxService!.ShowYesNoAsync(
            title: _appState.T("Info"),
            message: _appState.T("If you change your password, you will be automatically logged out. Do you want to continue?"),
            yestext: @_appState!.T("Yes"),
            notext: @_appState!.T("No")
        );

        switch (result_msg)
        {
            case MessageBoxResult.Yes:
                result = true;
                break;
            case MessageBoxResult.No:
            case MessageBoxResult.None:
                break;
        }

        return result;
    }

    private async Task HandleCancel()
    {
        ResetInternalState();
        Visible = false;
        await VisibleChanged.InvokeAsync(Visible);
    }
}